@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('./variables.scss');
// ? Variables SCSS
$blue-static: var(--blue-static);
$gold-static: var(--gold-static);
$gray-static: var(--gray-static);
$gray-soft-static: var(--gray-soft-static);
$gray-bold-static: var(--gray-bold-static);
$white-static: var(--white-static);
$white-soft:var(--white-soft);
$white-transparent: var(--white-transparent);
$highlight-color: var(--highlight-color);
$highlight-color-bg: var(--highlight-color-bg);
$highlight-color-text: var(--highlight-color-text);
$card-product-bg: var(--card-product-bg);
$card-product-text: var(--card-product-text);
$gradient-blue: var(--gradient-blue);
$gradient-gold: var(--gradient-gold);
$bg-page: var(--bg-page);
$primary-btn-navigation-border: var(--primary-btn-navigation-border);
$primary-btn-navigation-color: var(--primary-btn-navigation-color);
$primary-btn-navigation-color-active: var(--primary-btn-navigation-color-active);
$primary-btn-navigation-bg: var(--primary-btn-navigation-bg);
$primary-btn-bg: var(--primary-btn-bg);
$primary-btn-color: var(--primary-btn-color);
$secondary-btn-bg:var(--secondary-btn-bg);
$secondary-btn-color:var(--secondary-btn-color);
$color-font: var(--color-font);
$placeholder-color: var(--placeholder-color);
$color-input-text: var(--color-input-text);
$order-menu-bg: var(--order-menu-bg);
$order-menu-color: var(--order-menu-color);
$order-menu-time: var(--order-menu-time);
$chip-outlined-color: var(--chip-outlined-color);
$chip-outlined-text: var(--chip-outlined-text);
$chip-color-fill: var(--chip-color-fill);
$card-song-highlight-bg: var(--card-song-highlight-bg);
$card-song-highlight-color: var(--card-song-highlight-color);
$card-song-default-bg: var(--card-song-default-bg);
$card-song-default-color: var(--card-song-default-color);
$bg-desktop-login: var(--bg-desktop-login);
$bg-day-login: var(--bg-day-login);
$bg-night-login: var(--bg-night-login);
$badge-bg: var(--badge-bg);
$badge-color:var(--badge-color);
$primary-color-rating: var(--primary-color-rating);
$primary-color-add-cart: var(--primary-color-add-cart);
$btn-link-device-bg:var(--btn-link-device-bg);
$btn-link-device-shadow: var(--btn-link-device-shadow);
$btn-link-device-color:var(--btn-link-device-color);
$modal-link-bg-header: var(--modal-link-bg-header);
$modal-link-color-header: var(--modal-link-color-header);
$modal-link-bg-card: var(--modal-link-bg-card);
$modal-link-color-card: var(--modal-link-color-card);
$autocomplete-bg: var(--autocomplete-bg);
$autocomplete-color: var(--autocomplete-color);
$autocomplete-color-second: var(--autocomplete-color-second);
$notification-bg: var(--notification-bg);
$notification-border: var(--notification-border);
$notification-color: var(--notification-color);
$primary-svg-color: var(--primary-svg-color);

$sizes_screen: (
    '1': 1%,
    '2': 2%,
    '3': 3%,
    '4': 4%,
    '5': 5%,
    '6': 6%,
    '7': 7%,
    '8': 8%,
    '9': 9%,
    '10': 10%,
    '11': 11%,
    '12': 12%,
    '13': 13%,
    '14': 14%,
    '15': 15%,
    '16': 16%,
    '17': 17%,
    '18': 18%,
    '19': 19%,
    '20': 20%,
    '21': 21%,
    '22': 22%,
    '23': 23%,
    '24': 24%,
    '25': 25%,
    '26': 26%,
    '27': 27%,
    '28': 28%,
    '29': 29%,
    '30': 30%,
    '31': 31%,
    '32': 32%,
    '33': 33%,
    '34': 34%,
    '35': 35%,
    '36': 36%,
    '37': 37%,
    '38': 38%,
    '39': 39%,
    '40': 40%,
    '41': 41%,
    '42': 42%,
    '43': 43%,
    '44': 44%,
    '45': 45%,
    '46': 46%,
    '47': 47%,
    '48': 48%,
    '49': 49%,
    '50': 50%,
    '51': 51%,
    '52': 52%,
    '53': 53%,
    '54': 54%,
    '55': 55%,
    '56': 56%,
    '57': 57%,
    '58': 58%,
    '59': 59%,
    '60': 60%,
    '61': 61%,
    '62': 62%,
    '63': 63%,
    '64': 64%,
    '65': 65%,
    '66': 66%,
    '67': 67%,
    '68': 68%,
    '69': 69%,
    '70': 70%,
    '71': 71%,
    '72': 72%,
    '73': 73%,
    '74': 74%,
    '75': 75%,
    '76': 76%,
    '77': 77%,
    '78': 78%,
    '79': 79%,
    '80': 80%,
    '81': 81%,
    '82': 82%,
    '83': 83%,
    '84': 84%,
    '85': 85%,
    '86': 86%,
    '87': 87%,
    '88': 88%,
    '89': 89%,
    '90': 90%,
    '91': 91%,
    '92': 92%,
    '93': 93%,
    '94': 94%,
    '95': 95%,
    '96': 96%,
    '97': 97%,
    '98': 98%,
    '99': 99%,
    '100': 100%,
);

$sizes_font: (
    '12': 12px,
    '13': 13px,
    '14': 14px,
    '15': 15px,
    '16': 16px,
    '17': 17px,
    '18': 18px,
    '19': 19px,
    '20': 20px,
    '21': 21px,
    '22': 22px,
    '23': 23px,
    '24': 24px,
    '25': 25px,
    '26': 26px,
    '27': 27px,
    '28': 28px,
    '29': 29px,
    '30': 30px,
    '31': 31px,
    '32': 32px
);

@each $name, $value in $sizes_screen {
    .width-#{$name} { width: $value !important; }
    .max-width-#{$name} { max-width: $value !important; }
    .height-#{$name} { height: $value !important; }
    .max-height-#{$name} { max-height: $value !important; }

    .mb-#{$name}pe { margin-bottom: $value !important; }
    .mt-#{$name}pe { margin-top: $value !important; }
    .ml-#{$name}pe { margin-left: $value !important; }
    .mr-#{$name}pe { margin-right: $value !important; }
}


@each $name, $value in $sizes_font {
    .font-#{$name} {
        font-size: $value !important;
        line-height: $value !important;
    }
}



.font {
    &-weight {
        &-600 {
            font-weight: 600;
        }
    }
}

.bg {
    &-transparent {
        background-color: transparent !important;
        box-shadow: none !important;
    }
    &-white {
        background: $white-static !important;
        &--transparent {
            background: $white-transparent !important;
        }
        &--soft {
            background: $white-soft !important;
        }
    }
    &-blue {
        background: $gradient-blue !important;
    }
    &-gold {
        background: $gradient-gold !important;
    }
    &_modal_link {
        &_header {
            background: $modal-link-bg-header !important;
            color: $modal-link-color-header !important;
            border-radius: 0px !important;
            i {
                color: $modal-link-color-header !important;
            }
        }
        background: $modal-link-bg-card !important;
        h1, h2, h3, h4, h5, h6, p, label, font {
            background: $modal-link-color-card !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
        h1 {
            padding: 10px 15px;
            border-bottom: 3px solid;
            font-size: 36px;
        }
    }
}

hr {
    height: 1px !important;
    border: 0;
    border-radius: 10px;
    background: $gradient-gold;
}

.v-overlay__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-progress-linear {
    &__indeterminate, &__background {
        &.input-focus {
            background-color: $color-input-text !important;
        }
    }
}

.results_search {
    .v-sheet {
        background-color: none !important;
        background: $autocomplete-bg !important;
        color: $autocomplete-color !important;
        .v-list-item {
            color: $autocomplete-color !important;
            .v-image {
                border-radius: 5px !important;
            }
            &__subtitle {
                color: $autocomplete-color-second !important;
            }
        }
    }
}

.hide_scroll::-webkit-scrollbar {
    display: none !important;
}

.card_song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: $card-song-default-bg !important;
    img {
        border-radius: 3px;
    }
    h3 {
        background: $card-song-default-color !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
    }
    .v-btn {
        &__content {
            width: 100% !important;
        }
    }
    svg {
        fill: $card-song-default-color !important;
    }
    i {
        color: $card-song-default-color !important;
    }
    &.highlight {
        background: $card-song-highlight-bg !important;
        h3 {
            background: $card-song-highlight-color !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
        svg {
            fill: $card-song-highlight-color !important;
        }
        i {
            color: $card-song-highlight-color !important;
        }
    }
}

.v-application {
    font-family: Poppins !important;
    background: $bg-page !important;
    background-size: cover !important;
    background-position: center !important;
    transition: .45s ease all;
    overflow: hidden;
    width: 100vw;

    .v-progress-circular {
        color: $primary-svg-color !important;
    }

    svg {
        &.primary--color {
            stroke: $primary-svg-color;
            g, path {
                fill: $primary-svg-color;
            }
        }
        &.blue--color {
            stroke: $blue-static;
            g, path {
                fill: $blue-static;
            }
        }
        &.gold--color {
            stroke: $gold-static;
            g {
                fill: $gold-static;
            }
        }
    }
    i {
        &.primary--color {
            color: $color-font !important;
        }
        &.blue--color {
            color: $blue-static !important;
        }
        &.gold--color {
            color: $gold-static !important;
        }
        &.primary-add-cart--color {
            color: $primary-color-add-cart !important;
        }
    }

    h1, h2, h3, h4, h5, h6, p, label, font {
        background: $color-font;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        &.blue--text {
            background: $gradient-blue;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &.gold--text {
            background: $gradient-gold;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .input-focus--text {
        color: $color-input-text !important;
        caret-color: $color-input-text !important;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
        transform: translateX(2em);
    }
    .fade-enter-active, .fade-leave-active {
        transition: all .3s ease;
    }
}

// * Notification Styles
.bulgo_notification {
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
    color: $notification-color !important;
    background: $notification-bg !important;
    border-left: $notification-border !important;
}

.v-main__wrap {
    height: 100vh;
    position: relative;
}

.v-rating .v-icon {
    padding: 0px !important;
    &.primary-color-rating--text {
        color: $primary-color-rating !important;
        caret-color: $primary-color-rating !important;
    }
}

.v-badge__badge {
    color: $badge-color !important;
    &.badge {
        background: $badge-bg;
    }
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: $color-input-text !important;
    &:hover {
        border-color: $color-input-text !important;
    }
}

.v-input {
    flex: none !important;
}

.chip_item {
    width: max-content;
    padding: 3px 10px;
    border-radius: 20px;
    border: 1px solid;
    font-size: 13px;
    transition: ease all .3s;
    display: flex;
    background: transparent;
    border-color: $chip-outlined-color;
    color: $chip-outlined-color;
    &--active {
        border-style: unset !important;
        background: $chip-color-fill;
        color: $chip-outlined-text;
    }
}

.theme--light {
    .v-chip {
        border: 1px solid;
        border-color: $chip-outlined-color !important;
        &--active {
            border-style: unset !important;
            background: $chip-color-fill !important;
            .v-chip__content {
                color: $chip-outlined-text !important;
            }
        }

        &:not(.v-chip--active) {
            background: transparent !important;
            .v-chip__content {
                color: $chip-outlined-color !important;
            }
        }
    }
    .v-text-field {
        .v-icon {
            color: $color-input-text !important;
        }
        .v-input__slot {
            &::before {
                border-color: $color-input-text !important;
                &:hover {
                    border-color: $color-input-text !important;
                }
            }
        }
        input {
            &::placeholder { color: $placeholder-color !important;}
            &:-ms-input-placeholder { color: $placeholder-color !important;}
            &::-ms-input-placeholder { color: $placeholder-color !important;}
            color: $color-input-text !important;
        }
    }
    .v-card {
        border-radius: 10px !important;
        &.card-product-bg {
            background: $card-product-bg;
            h1, h2, h3, h4, h5, h6, p, label, font {
                background: $card-product-text !important;
                -webkit-background-clip: text !important;
            }
        }

        &.card-highlight {
            box-shadow: 0 0 10px $highlight-color,
            0 0 20px $highlight-color,
            0 0 40px $highlight-color,
            0 0 80px $highlight-color,
            0 0 120px $highlight-color !important;
        }

        &.card-highlight-product {
            background: $highlight-color-bg !important;
            h1, h2, h3, h4, h5, h6, p, label, font {
                background: $highlight-color-text !important;
                -webkit-background-clip: text !important;
            }
            .v-rating .v-icon.primary-color-rating--text {
                color: $highlight-color-text !important;
                caret-color: $highlight-color-text !important;
            }
            i.primary-add-cart--color {
                color: $highlight-color-text !important;
            }
        }
    }
    .v-btn {
        min-height: 36px;
        height: auto !important;
        letter-spacing:0px;
        &.primaryB {
            background: $primary-btn-bg;
            color: $primary-btn-color;
        }
        &.secondaryB {
            background: $secondary-btn-bg;
            color: $secondary-btn-color;
        }
        &.whiteB {
            background-color: $white-static !important;
            color: $blue-static;
        }
        &--fab {
            box-shadow: none !important;
            background-color: transparent !important;
            background-clip: padding-box;
            border: 3px solid $primary-btn-navigation-border;
            color: $primary-btn-navigation-color !important;
            width: 60px;
            height: 60px !important;
            &.btn-link-phone {
                border: none;
                background: $btn-link-device-bg !important;
                color: $btn-link-device-color !important;
                position: absolute;
                top: calc(50% - 54px);
                right: 1%;
                z-index: 4;
                box-shadow: 0 0 10px $btn-link-device-shadow,
                            0 0 20px $btn-link-device-shadow,
                            0 0 40px $btn-link-device-shadow,
                            0 0 80px $btn-link-device-shadow,
                            0 0 120px $btn-link-device-shadow !important;
            }
            &.is-phone {
                width: 54px;
                height: 54px!important;
                svg {
                    width: 60%;
                }
            }
            &.is-tablet {
                width: 80px;
                height: 80px!important;
                svg {
                    width: 60%;
                }
            }
            &.active-btn {
                background-color: inherit;
                border: none;
                background: $primary-btn-navigation-bg !important;
                svg {
                    width: 54%;
                    stroke: $primary-btn-navigation-color-active !important;
                    fill: $primary-btn-navigation-color-active !important;
                    g {
                        fill: $primary-btn-navigation-color-active !important;
                    }
                }
            }
            svg {
                width: 60%;
                stroke: $primary-btn-navigation-color !important;
                fill: $primary-btn-navigation-color !important;

                g {
                    fill: $primary-btn-navigation-color !important;
                }
            }
            .v-btn__content {
                width: 100%;
            }
        }
    }
}