:root {
    --blue-static: #1e272f;
    --gold-static: #93692f;
    --gray-static: #DDDDDD;
    --gray-soft-static: #E5E5E5;
    --gray-bold-static:#868686;
    --white-static: #fff;
    --white-soft: #FBFAFA;
    --white-transparent: #ffffffc7;
    --highlight-color: #526677;
    --highlight-color-bg: linear-gradient(90deg, #080C12, #2C3740);;
    --highlight-color-text: #fff;
    --card-product-bg:#fff;
    --card-product-text: linear-gradient(90deg, #080C12, #2C3740);;
    --gradient-blue: linear-gradient(90deg, #080C12, #2C3740);
    --gradient-gold: linear-gradient(90deg, #663D23, #8C6328);
    --bg-page: url(../icons/login_desktop.png);
    --primary-btn-navigation-border: #93692f;
    --primary-btn-navigation-color: #fff;
    --primary-btn-navigation-color-active: #fff;
    --primary-btn-navigation-bg: linear-gradient(90deg, #663D23, #8C6328);
    --primary-btn-bg: linear-gradient(90deg, #080C12, #2C3740);
    --primary-btn-color: #fff;
    --secondary-btn-bg:linear-gradient(90deg, #663D23, #8C6328);
    --secondary-btn-color:#fff;
    --color-font: #fff;
    --placeholder-color: #fff;
    --color-input-text: #fff;
    --order-menu-bg: #fff;
    --order-menu-color: linear-gradient(90deg, #080C12, #2C3740);
    --order-menu-time: #dddddd;
    --chip-outlined-color: #fff;
    --chip-outlined-text: #fff;
    --chip-color-fill: linear-gradient(90deg, #663D23, #8C6328);
    --card-song-highlight-bg: linear-gradient(90deg, #663D23, #8C6328);
    --card-song-highlight-color: #fff;
    --card-song-default-bg: #fff;
    --card-song-default-color: linear-gradient(90deg, #080C12, #2C3740);
    --bg-desktop-login: url(../icons/login_desktop.png);
    --bg-day-login: url(../icons/login_tablet_day.png);
    --bg-night-login: url(../icons/login_tablet_night.png);
    --badge-bg: linear-gradient(90deg, #080C12, #2C3740);
    --badge-color: #fff;
    --primary-color-rating: #1e272f;
    --primary-color-add-cart: #93692f;
    --btn-link-device-bg: #fff;
    --btn-link-device-shadow: #fff;
    --btn-link-device-color: #1e272f;
    --modal-link-bg-header: linear-gradient(90deg, #080C12, #2C3740);
    --modal-link-color-header: #fff;
    --modal-link-bg-card: #fff;
    --modal-link-color-card: linear-gradient(90deg, #080C12, #2C3740);
    --autocomplete-bg: #fff;
    --autocomplete-color: #1e272f;
    --autocomplete-color-second: #868686;
    --notification-bg: linear-gradient(90deg, #080C12, #2C3740);;
    --notification-border: #1e272f;
    --notification-color: #fff;
    --primary-svg-color: #1e272f;
}