<template>
    <v-menu bottom offset-y v-model="menuSearchData" :close-on-content-click="false"
         content-class="results_search" ref="menuRef">
      <template v-slot:activator="{ on, attrs }">
        <v-text-field v-bind="attrs" v-on="on" color="input-focus" :loading="isLoading"
          :class="{'width-65': $VBreakpoint.isTablet(), 'width-100': $VBreakpoint.isPhone(),
            'mb-1': $VBreakpoint.isTablet()}"
          :placeholder="placeholder"
          :prepend-inner-icon="iconInner"
          class="search_input_table pt-0" @input="searchDataInput"
          @keydown="detectLastKeyPress" @click="hideMenuClickedInput"
          v-model="modelSearchDataInput" clearable
          @click:clear="clearInputSearchData" />
      </template>
      <!-- List with results items -->
      <v-list>
        <v-list-item v-for="(item, key) in itemsResult" :key="key" @click="clickItem(item)">
            <slot name="listItem" v-bind="item" />
        </v-list-item>
      </v-list>
    </v-menu>
</template>

<script>
export default {
    name: 'Autocomplete',
    data: () => ({
        modelSearchDataInput: null,
        timeout: null,
        receptorKeyDelete: false,
        menuSearchData: false,
    }),
    props: [
        // * Boolean to active or desactive loading
        'isLoading',
        // * String with placeholder for the input
        'placeholder',
        // * Icon inner left in input
        'iconInner',
        // * Array with items result
        'itemsResult',
        // * Class string input
        'inputClass'
    ],
    created() {
        this.$EventBus.$on(this.$EventBusEvents.openMenuSearchResults, () => {
            this.menuSearchData = true;
        })
    },
    methods: {
        searchDataInput(val) {
            if(val && val.length > 0) {
                this.$emit('loadingChange', true);
                clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    if((val && val.length <= 1) && this.receptorKeyDelete) return
                    else {
                        this.$emit('searchDataInput', val);
                    }
                    clearTimeout(this.timeout);
                },1000);

            } else {
                this.hideMenuClickedInput();
                this.$emit('loadingChange', false);
                this.$emit('clearItems');
            }
        },
        detectLastKeyPress(key) {
            // * This key is for delete key, save last key up
            if(key.keyCode == 8)
            this.receptorKeyDelete = true;
            else this.receptorKeyDelete = false;
        },
        hideMenuClickedInput() {
            if(!this.modelSearchDataInput || this.modelSearchDataInput.length == 0)
                this.$refs.menuRef.save();
        },
        clearInputSearchData() {
            this.modelSearchDataInput = null;
            this.receptorKeyDelete = false;
            this.$emit('clearItems');
        },
        clickItem(item){
            this.$emit('click:item', item);
            // this.clearInputSearchData();

        }
    }
}
</script>

<style lang="scss">
    .search_input_table {
        .v-input {
        font-size: 19px;
        line-height: 19px;
        }
        .v-text-field__details {
        display: none !important;
        }
    }
    .results_search {
        max-height: 60% !important;
        .v-list-item__content {
        flex: none !important;
        }
    }
</style>