<template>
    <v-dialog
      v-model="modalLinkDeviceModel"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
            <v-btn fab v-bind="attrs" v-on="on"
                :class="{'is-phone': $VBreakpoint.isPhone(),
                'is-tablet': $VBreakpoint.isTablet()}" class="btn-link-phone">
                    <v-icon :size="$VBreakpoint.isTablet() ? 36 : $VBreakpoint.isPhone() ? 24 : 20">
                    mdi-cellphone-link
                    </v-icon>
            </v-btn>
      </template>
      <v-card class="d-flex flex-column width-100 height-100 bg_modal_link">
        <v-toolbar color="bg_modal_link_header"
          :height="$VBreakpoint.isTablet() ? 64 : $VBreakpoint.isPhone() ? 56 : 20">
          <v-toolbar-title class="d-flex align-center"
            :class="{'font-24': $VBreakpoint.isTablet(), 'font-19': $VBreakpoint.isPhone() }">
              <v-icon left :size="$VBreakpoint.isTablet() ? 28 : $VBreakpoint.isPhone() ? 20 : 20">
                mdi-cellphone-link
              </v-icon>
              Conectar
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click="modalLinkDeviceModel = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <section class="d-flex align-center justify-space-around height-100 pa-4 flex-column">
          <p class="text-center width-90" :class="{'font-14': $VBreakpoint.isPhone(), 'font-21': $VBreakpoint.isTablet()}">
            * Ahora puedes conectarte desde tu celular y manejarlo todo desde tu celular,
            solo debes ingresar desde tu celluar a
            <a href="https://bulgo.co/connect" class="font-weight-black">https://bulgo.co/connect</a>
            y alli podras escanear el codigo QR o escribir el codigo y ya estaras conectado!
          </p>
          <div class="d-flex flex-column justify-space-between align-center width-100 height-55">
            <h1 :style="{'font-size': $VBreakpoint.isTablet() ? '42px' :
                $VBreakpoint.isPhone() ? '32px' : '21px'}">
              311-382-007
            </h1>
            <VueQRCodeComponent :size="$VBreakpoint.isTablet() ? 240 : $VBreakpoint.isPhone() ? 160 : 21"
                :text="url_qr_code" color="#1e272f" />
          </div>
        </section>
      </v-card>
    </v-dialog>
</template>

<script>
  import VueQRCodeComponent from 'vue-qrcode-component'

export default {
    name: 'LinkDevice',
    data: () => ({
        modalLinkDeviceModel: false
    }),
    components: {
        VueQRCodeComponent
    },
    props: [
        'url_qr_code',
    ]
}
</script>

<style lang="scss">

</style>