<template>
    <v-overlay :value="loaderBulgoModel" opacity=".96" color="bg-blue">
        <BulgoLogo :class="{'width-85': $VBreakpoint.isPhone(),
            'width-75': $VBreakpoint.isTablet(),
            'mb-40pe': $VBreakpoint.isTablet(),
            'mb-50pe': $VBreakpoint.isPhone(),
            'width-55': $VBreakpoint.isDesktop(),
            'mb-15pe': $VBreakpoint.isDesktop()  }"
        class="mt-10pe" />
        <v-progress-circular
            indeterminate
            :size="$VBreakpoint.isTablet() ? 130 : $VBreakpoint.isPhone()
                ? 80 : $VBreakpoint.isDesktop() ? 100 : 64"
        />
    </v-overlay>
</template>

<script>

import BulgoLogo from '../helpers/bulgoLogo';


export default {
    name: 'LoaderBulgo',
    components: {
        BulgoLogo: BulgoLogo('white')
    },
    props: [
        'loaderBulgoModel'
    ]
}
</script>

<style lang="scss" scoped>

</style>