<template>
    <div class="width-100 d-flex overflow-x-auto overflow-y-hidden hide_scroll">
        <slot/>
    </div>
</template>

<script>
export default {
    name: 'SlideMultiple',
    props: ['maxHeight']
}
</script>

<style lang="scss">
</style>