<template>
  <v-app>
      <v-btn
        text
        @click="testVuex"
      >
        <span class="mr-2">{{ $store.getters.getStateVuex }}</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    //
  }),
  methods: {
    testVuex() {
      this.$store.dispatch('incrementStateVuex', 10)
    }
  }
};
</script>

<style lang="scss">
  * {
    /* color: $bg-day-login; */
  }
</style>